<div class="post-entry">
  <h3 class="mt-0">
    <a href="{{ .Permalink }}">{{ .Title }}{{ with .Params.share_link }}…{{ end }}</a>
  </h3>
  {{ with .Date }}<p class="date mb-1"><small>{{ . | time.Format ":date_medium"}}</small></p>{{ end }}
  {{- if not (eq .Type "posts") }}
    {{- with .Params.Summary -}}
    <p class="post-list-summary m-0">
        {{- . | markdownify -}}
    </p>
    {{- else -}}
    <p class="post-list-summary m-0">
        {{- .Description | markdownify -}}
    </p>
    {{- end -}}
  {{- end -}}
  {{ with .Params.tags }}<p class="post-list-tags">{{ range . }}<span>{{ . }}</span>{{ end }}</p>{{ end }}
</div>
