{{ define "main" -}}
{{- partial "utils/nav-depth" . -}}
<div class="container--sm">
  <section class="page-header">
    <h1 class="page-header-title">{{ .Title }}</h1>
    <p class="page-header-desc">
      {{- with .Params.Summary -}}
        {{- . -}}
      {{- else -}}
        {{- with .Description -}}
          {{- . | markdownify -}}
        {{- end -}}
      {{- end -}}
    </p>
    {{- if (eq .Type "study") }}
    {{- partial "print/links" (dict "context" . "class" "padding-baseline") -}}
    {{- end }}
  </section>
  <section{{- with .Params.autonumbering }} autonumbering{{- end }}>
    {{ $.Scratch.Set "menu" slice }}
    {{ if eq .Type "study" }}
      {{ range (.Paginate .RegularPagesRecursive).Pages }}
        {{- if (eq .Parent.Type "study") }}
          {{- $.Scratch.Add "menu" .Title }}
        {{- end }}
      {{- end }}
      {{- if gt (len ($.Scratch.Get "menu")) 0 }}
      <div class="tableofcontents">
        <ol>
          {{ range ($.Scratch.Get "menu") }}
            <li><a href="#{{ anchorize . }}">{{ . }}</a></li>
          {{ end }}
        </ul>
      </div>
      {{- end }}
    {{- end }}
      {{- if eq .Type "study" }}
        {{- if .Param "autonumbering" }}
        <style>
          /* Auto Numbering */
            body {counter-reset: h2}
            h2 {counter-reset: h3}
            h3 {counter-reset: h4}
            h4 {counter-reset: h5}

            section[autonumbering] h2:before {counter-increment: h2; content: ""}
            section[autonumbering] h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
            section[autonumbering] h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}

            section[autonumbering] .toc__menu ul { counter-reset: item }
            section[autonumbering] .toc__menu li a:before { content: counters(item, ".") ". "; counter-increment: item }
        </style>
        {{- end }}
        {{- range $id, $value := (.Paginate .RegularPagesRecursive).Pages }}
          <div class="study-element study-element-{{ add $id 1 }}">
          {{- if (eq .Parent.Type "study") }}
            <h2 id="{{ anchorize .Title }}">
              {{ add $id 1 }}. {{ .Title }}
              <a href="#{{ anchorize .Title | safeURL }}"></a>
            </h2>
            <div class="title-increment">
            {{- partial "content.html" .Content .Content }}
            <br>
            <hr>
            <br>
          {{- end }}
          </div>
        {{- end }}
      {{- else }}
        {{ $range1 := cond (ne (len .Sections) 0) .Sections .RegularPages }}
        {{ $range2 := cond (ne (len .Sections) 0) .RegularPages .Sections }}
        {{ $rangecond := not (and $range1 $range2) }}
        {{ with $range1 }}
          <h2 {{ if and (not $.Content) $rangecond }} hidden{{ end }}>Sections</h2>
          {{- range $id, $value := . }}
            {{ partial "posts/post-entry.html" . }}
        {{- end }}
        {{ end -}}
        {{ with $range2 }}
          <h2 {{ if and (not $.Content) $rangecond }} hidden{{ end }}>Articles</h2>
          {{- range $id, $value := . }}
            {{ partial "posts/post-entry.html" . }}
          {{- end }}
        {{ end -}}
      {{- end }}
      {{- $pages := where (where (.GetPage "interviews").RegularPagesRecursive "Params.slugpath" "eq" "digital-accessibility") "Title" "ne" "Model" }}
      {{ template "_internal/pagination.html" . }}
      {{ with .Content }}{{ partial "content.html" . . }}{{- end }}
  </section>
</div>
{{ end }}
