{{ define "main" }}
{{ partialCached "utils/css.html" (dict "context" . "filefolder" "object" "filename" "form") "form" }}
{{ partialCached "utils/css.html" (dict "context" . "filefolder" "object" "filename" "card") "card" }}
<div>
  <section class="page-header--c">
    <h1 class="page-header-title">{{ .Title }}</h1>
    {{ .Params.description | markdownify }}
    {{ partialCached "content.html" .Content .Content }}
    <div class="grid center">
    {{ range where .Pages ".Params.sitemapexclude" "!=" "true" }}
      <div class="card">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      </div>
    {{ end }}
    </div>
  </section>
</div>
{{ end }}
